/* Importação de Fontes */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* =====================================
   Variáveis CSS
===================================== */
:root {
    --bg-color: #121212;
    --text-color: #e0e0e0;
    --primary-color: #4CAF50;
    --primary-hover: #81C784;
    --secondary-bg: #1e1e1e;
    --border-color: #444;
    --footer-text: #a0a0a0;
    --font-family: "Roboto", sans-serif;
    --font-family-alt: "Poppins", sans-serif;
    --font-family-title: "Merriweather", serif;
}

/* =====================================
   Reset de Estilos
===================================== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    overflow-y: scroll;
}
input:autofill{
-webkit-box-shadow: 0 0 0 1000px var(--secondary-bg) inset !important;
-webkit-text-fill-color: var(--text-color) !important;
transition: background-color 9999s ease-in-out 0s;
}

/* =====================================
   Estilos Globais
===================================== */
body {
    min-height: 100vh;
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: var(--font-family);
    display: flex;
    flex-direction: column;
    line-height: 1.6;
    font-size: 16px;
}

/* =====================================
   Links
===================================== */
.navegacao a {
    color: var(--primary-color);
    text-decoration: none;
    transition: color 0.3s;
    position: relative;
}
.navegacao a::after{
    content: "";
    display: block;
    height: 2px;
    width: 0%;
    background: #81C784;
    margin-top: 2px;
    transition: 0.3s;
    position: absolute;
    transition:  ease-in-out 400ms;
}
.navegacao a:hover::after,
.ativo::after{
    width: 100%;
}
.navegacao .active::after{
    width: 100%;
}


/* =====================================
   Classe para Elementos Ocultos
===================================== */
.hidden {
    display: none;
    visibility: hidden;
}

/* =====================================
   Títulos Principais e Destaques
===================================== */
.titulo-principal, .frase-destaque {
    text-align: center;
}

.titulo-principal {
    font-size: clamp(1.5rem, 5vw, 2rem); /* Responsividade */
    margin-bottom: 10px;
}

.frase-destaque {
    font-size: clamp(1rem, 4vw, 1.2rem); /* Responsividade */
    color: #b0b0b0;
    margin-bottom: 40px;
}
