/* =====================================
   Conteúdo Principal
===================================== */
main {
    padding: 20px; /* Espaçamento interno */
    width: 100%; /* Ocupa toda a largura disponível */
    max-width: 900px; /* Limita a largura máxima */
    margin: 20px auto; /* Reduz a margem superior e centraliza */
    flex: 1; /* Permite que o main preencha o espaço restante */
}
